template*
venv*
orig.*
*.toml
my.toml
test
*__py*
*.mp3
*.parquet
*.jpg
tags
*.tgz
*.png
*.swp
*.errorlog
profiling
backups
venv.3
venv37
videos
people_recognition
Face-Detection-using-OpenCV
samples*
package*
opencv-instance*
exp
experiments
racampkg
camai
fdmodels/.DS_Store
known
